.background{
    position: relative;
}
.background-img{
    width: 100%;
}
.sun{
    position: absolute;
    width:150px;
    border-radius: 50%;
    top:10px;
    left:150px;
    animation: sun 20s infinite;
}
.air-balloon{
    position: absolute;
    width:400px;
    height: auto;
    bottom: 7%;
    left:47%;
    z-index: 10;
    animation: flying 10s ease-in;
    animation-fill-mode:forwards;
}
.camp{
    position: absolute;
    width:200px;
    height:auto;
    bottom: 0;
    right:180px;
    z-index: 2;
}
.bird-1{
   width:50px;
   height:auto;
   position: absolute;  
   bottom: 140px;
   left:56%;
   animation: bird-flying-1 1s linear 9s;
   animation-fill-mode:forwards;
}
.bird-2{
    width:40px;
    height:auto;
    position: absolute;
    top:20%;
    animation: bird-flying-2 10s linear;
    animation-fill-mode:forwards;
   
}
.bird-3{
    width:50px;
    height:auto;
    position: absolute;
    top:210px;
    left:205px;
    animation: bird-flying-3 7s linear 3s; 
    animation-fill-mode:forwards;
}
.cloud-1{
    width:150px;
    height:auto;
    position: absolute;
    top:20px;
    left:400px;
}
.cloud-2{
    width:150px;
    height:auto;
    position: absolute;
    top:20px;
    left:600px;
}

.cloud-3{
    width:150px;
    height:auto;
    position: absolute;
    top:0px;
    left:900px;
}
.flowers{
    width:50px;
    height: auto;
    position: absolute;
    bottom: 10px;
    animation: flower-1 1s linear 10;
    animation-fill-mode:forwards;
}
.flowers-2{
    width:50px;
    height: auto;
    position: absolute;
    bottom: 10px;
    animation: flower-2 1s linear 10;
    animation-fill-mode:forwards;
}

.flowers-3{
    width:50px;
    height: auto;
    position: absolute;
    bottom: 10px;
    left:350px;
    animation: flower-3 1s linear 10;
    animation-fill-mode:forwards;
}
.squirrel{
    width:90px;
    height:auto;
    position: absolute;
    bottom: 0;
    left:520px;
    animation: squirrel-move 3s linear;
    animation-fill-mode:forwards;
}
.hazelnut{
    width:20px;
    height:20px;
    position: absolute;
    bottom: 32px;
    right:550px;
}

/*KeyFrames */

@keyframes flying {
  0% {bottom: 7%; left:47%;}
  25%  {bottom: 25%}
  75%  {bottom: 75%}
  100% {bottom: 100%}
  
}

@keyframes squirrel-move{
   0%{left:520px;}
    100%{left:710px;}
}
@keyframes hazelnut-move{
from {right:550px}
to { left:520px;}
}
@keyframes flower-1{
    from{left:250px;}
    to {left:251px;}
}
@keyframes flower-2{
    from{left:300px;}
    to {left:301px;}
}
@keyframes flower-3{
    from{left:350px;}
    to {left:351px;}
}
@keyframes sun{
    0% {transform:rotate(0deg) translate(-20px)}
  100% {transform:rotate(360deg) translate(-20px)}
}
@keyframes bird-flying-1{
from{left:56%;}
to {left:52%;}
}
@keyframes bird-flying-2{
   	0% {
		transform: scale(0.4) translateX(10vw);
	}
	
	50% {
		transform: translateY(7vh) translateX(42vw) scale(1.2);
	}
    100%{
    transform: translateY(6vh) translateX(73vw) scale(1.2);
}
}

@keyframes bird-flying-3{
   	0% {
		transform: scale(1.1) translateX(10vw);
	}
	50% {
		transform: translateY(18vh) translateX(25vw) scale(1.2);
	}
100%{
    transform: translateY(37vh) translateX(33vw) scale(1.2);
}
}